html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

.topBoxes {
    display: flex;
    justify-content: space-between;
    background: rgb(254, 254, 254);
    width: 100%;
    box-sizing: border-box;

    position: fixed;
    top: 160px;
    left: 0;
    right: 0;
    z-index: 2000;
}

.left {
    text-align: center;
    /* width: 33%; */
    /* float:left; */
    flex: 1;
    background: rgb(55, 172, 75);
    box-sizing: border-box;
}

.middle {
    text-align: center;
    /* float: left; */
    /* width: 33%; */
    flex: 1;
    background: rgb(255, 119, 95);
    border-left: solid 2px black;
    border-right: solid 2px black;
    box-sizing: border-box;
    /* padding-top: 16%; */
}

.right {
    text-align: center;
    /* float: right; */
    /* width: 33%; */
    flex: 1;
    background: rgb(48, 152, 66);
    box-sizing: border-box;
}

.scrollContainer {
    margin-top: 250px;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    background: rgb(255, 119, 95);
}

.scrollTrack {
    display: flex;
    width: max-content;
    animation: scroll-left 20s linear infinite;
}

.scrollTrack img {
    height: 250px;
    margin-right: 20px;
    /* Space between images */
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.scrollContainer:hover .scroll-track {
    animation-play-state: paused;
}