.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fce3db;
    height: 150px;
    padding: 0 20px;
    z-index: 1000;
}

.links {
    display: flex;
    gap: 1em;
    
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 12px 16px;
    background-color: #ff8c66;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-bottom 0.3s ease, color 0.3s ease;
}
.links a:hover {
    background-color: #ff7043;
    color: white;
}

.light {
    background-color: #ffffff;
}

.logo {
    
}
